.ProductsCarousel {
	height: 150px;
	width: auto;
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
  .ProductsCarousel { width: 90%; }
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
	.ProductsCarousel { width: 80%; }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.ProductsCarousel { width: 60%; }
}
