.TermsAndConditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0% 0% 0% 0%;
  padding: 0%;
  height: auto;
  width: 100%;
  font-size: 18px;
  text-align: justify;
}

.InfoImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 0px 50px 0px;
  padding: 0%;
  height: 200px;
  width: 100%;
}

.InfoImage img {
  height: 100%;
  width: 100%;
}

.TermsAndConditionsHeadline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  height: auto;
  width: 80%;
}

.TermsAndConditionsHeadline h3 {
  margin-bottom: 1rem;
}

.TermsAndConditionsHeadline p {
  font-weight: bold;
}

.TermsAndConditionsText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0% 0% 5% 0%;
  padding: 0%;
  height: auto;
  width: 80%;
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
  .TermsAndConditions { font-size: 12px; }
  .TermsAndConditionsHeadline { width: 95%; }
  .TermsAndConditionsHeadline h3 { font-size: 14px; }
  .TermsAndConditionsHeadline p { font-weight: 600; }
  .TermsAndConditionsText { width: 95%; }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .TermsAndConditions { font-size: 14px; }
  .TermsAndConditionsHeadline { width: 95%; }
  .TermsAndConditionsHeadline h3 { font-size: 16px; }
  .TermsAndConditionsHeadline p { font-weight: 600; }
  .TermsAndConditionsText { width: 95%; }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .TermsAndConditions { font-size: 16px; }
  .TermsAndConditionsHeadline { width: 95%; }
  .TermsAndConditionsHeadline h3 { font-size: 18px; }
  .TermsAndConditionsHeadline p { font-weight: 600; }
  .TermsAndConditionsText { width: 95%; }
}
